@import '../../../../../styles/variables';

.LinkPreview {
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 2px solid $bdl-gray-10;
}

.LinkPreview-title {
    margin-bottom: .875rem;
    font-weight: bold;
    font-size: 1rem;
}

.LinkPreview-image {
    .img {
        width: 48px;
    }
}
